<app-header></app-header>

<div class="page-container">
    <h1 class="center-text">المركز التكنولوجي للتسجيل المساحي العقاري</h1>
    
    <div class="flex justify-content-center align-items-center h-full">
        <p-card class="p-elment" >
                <div style="float: right;"> <a routerLink="/home"><img style="width: 250px; margin-top: 10px;"
                    src="../../../assets/images/header/contactus.png" alt="logo"></a></div>
            <div class="contact-info">
                   <div class="col-md-4">
          <!-- Links -->
          <h4 >
            Contact Us
          </h4>
          <p >
            <span class="material-icons blue-color"> mail_outline </span>
            
          <a class="vv"href="mailto:rsc@mped.gov.eg">rsc@mped.gov.eg</a>
          </p>
          <p >
          <span class="material-icons blue-color"> phone</span>
           <span class="vv"> 0225476199</span>
            </p>
          <p >
            <span class="material-icons blue-color">phone_iphone</span>
            <span class="vv">01273377445 </span></p>
        </div>
            </div>
        </p-card>
    </div>
</div>

<app-footer></app-footer>
