<!-- valid.component.html -->
<ngx-spinner  bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#ee0659" type = "ball-circus" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<app-header></app-header>
<div class="mt-5">
  <form >
      <div class="row mt-3 ">
        <div class="row justify-content-md-center">
        <div class="col-md-6">
          <!-- File input for uploading Excel file -->
           
          
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search by RequestNumber</mat-label>
            <input matInput placeholder="Search by RequestNumber"
              (change)="search($event)"
             #input/>
            <button mat-button matSuffix mat-stroked-button aria-label="search">
              <mat-icon style="color: rgba(170, 143, 23, 0.87);font-size:23px;font-weight: bold;">search</mat-icon>
          </button>
         
          </mat-form-field>
        

        </div>
      </div>
      </div>
    </form>
    <!-- list of tabel-->
  <div class="mt-3 listBox" >

        <!-- Position Column -->
    <table mat-table [dataSource]="dataSource"   class="mat-elevation-z8 w-100 mt-2">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let index = index">{{ index + 1 }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="requestNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>RequestNumber</th>
        <td mat-cell *matCellDef="let element"> {{element.requestNumber}} </td>
      </ng-container>
      
       <!-- Status Column -->
       <ng-container matColumnDef="typeBefor">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Type_Before</th>
        <td mat-cell *matCellDef="let element">{{ element.typeBefor}}</td>
      </ng-container>

        <!-- Status Column -->
      <ng-container matColumnDef="usageTypeBefor">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>UsageType_Before</th>
        <td mat-cell *matCellDef="let element">{{ element.usageTypeBefor}}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="areabefor">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Area_Before</th>
        <td mat-cell *matCellDef="let element">{{ element.areabefor}}</td>
      </ng-container>
      
      <ng-container matColumnDef="priceBfor">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Price_Before</th>
        <td mat-cell *matCellDef="let element">{{ element.priceBfor}}</td>
      </ng-container>
      <!--about after -->
      <!-- Weight Column -->
      <ng-container matColumnDef="requestType">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Type_After </th>
        <td mat-cell *matCellDef="let element">{{ element.requestType}}</td>
      </ng-container>

      <!-- DeadLine Date Column -->
      <ng-container matColumnDef="usageType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>UsageType_After</th>
        <td mat-cell *matCellDef="let element">{{ element.usageType }}</td>
      </ng-container>

     
       <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Area_After</th>
        <td mat-cell *matCellDef="let element">{{ element.area}}</td>
      </ng-container>
 <!-- Status Column -->

  <!-- Status Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef  mat-sort-header>Price_After</th>
    <td mat-cell *matCellDef="let element">{{ element.price}}</td>
  </ng-container>
   <!-- Status Column -->
      
       <!-- Status Column -->
       <ng-container style="color: rgba(170, 143, 23, 0.87);" matColumnDef="priceDefernce">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header>Price_Defernce</th>
        <td mat-cell *matCellDef="let element">{{ element.priceDefernce}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['position', 'requestNumber','typeBefor' ,'usageTypeBefor','areabefor','priceBfor','requestType','usageType','area','price','priceDefernce']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['position', 'requestNumber' ,'typeBefor' ,'usageTypeBefor','areabefor','priceBfor','requestType','usageType','area','price','priceDefernce']
 "></tr>
      <!--shows when Data Does not EXIST-->
  
      <tr *matNoDataRow style="font-size: 20px;">
        <td class="mat-cell" colspan="4" style="color: red;">The item does not exist
          {{input.value}}

        </td>
      </tr>
    </table>
    <div class="d-flex justify-content-center mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><button class="page-link" (click)="Pagination.onFirst() ">First</button></li>
   
          <li class="page-item"><button class="page-link" (click)="Pagination.onPervious()">Previous</button></li>
          <input #Pagination="Pagination" 
          appPagination 
          type="number"
          min="1"
          max="100"
          [totalPage]="100"
          value="1"
          (onchangeEventEmitter)="onpagechange($event)"/>
   
          <li class="page-item"><button class="page-link"(click)="Pagination.onNext()" >Next</button></li>
          <li class="page-item"><button class="page-link" (click)="Pagination.onLast() " >least</button></li>
        </ul>
      </nav>
     
      </div>
      </div>
  